<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hydroponic Agriculture</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{/style.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>

<body id="pageWrapper" onLoad="setInterval(callUpdatePage, 3000)">
	<table>
	<tbody>
		<tr th:each="node: ${sensors}" th:nodeIP="${node.nodeIP}">
			
			<td th:utext="${node.nodeIP}"> </td>
		</tr>
	</tbody>
	<tbody>
		<tr th:each="node: ${actuators}" th:nodeIP="${node.nodeIP}">
			
			<td th:utext="${node.nodeIP}"> </td>
		</tr>
	</tbody>
	</table>
	
	
	<script type="text/javascript" th:inline="javascript">
		function callUpdatePage() {
			$('#pageWrapper').load("/home");
		}

	</script>
</body>

</html>