<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hydroponic Agriculture</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" media	"all" href="./style.css" th:href="@{/style.css}" />
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
</head>

<body onload="setInterval(getNodes, 3000)" class="bg-light text-dark">
	<div class="p-3 mb-2 bg-light text-dark" id="mainDiv">
		<div class=" shadow-sm p-0 mb-5 bg-body rounded " style="margin: 1% 10% 1% 5%;">
			<h1 style="padding-left: 15%;">
				Hydroponic Agriculture Management
				<img src=" ./icon.png"></h1>
		</div>
		<div class="container">
			<div class="row ">
				<div class="col-7 shadow-lg p-3 mb-5 bg-body rounded table-responsive">
					<table id="sensorsTable" class="table table-hover table-success  table-striped table-bordered">
						<thead>
							<tr>
								<th style=text-align:center; scope="col">Sensor</th>
								<th style=text-align:center; scope="col">IP</th>
								<th style=text-align:center; scope="col">Assigned To</th>
								<th style=text-align:center; scope="col">Value</th>
								<th style=text-align:center; scope="col">Show Log</th>
								
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
					
					
					
					<table id="actuatorsTable" class="table table-hover table-info  table-striped table-bordered">
						<thead>
							<tr>
								<th style=text-align:center; scope="col">Actuator</th>
								<th style=text-align:center; scope="col">IP</th>
								<th style=text-align:center; scope="col">Active</th>
								<th style=text-align:center; scope="col">Threshold</th>
							</tr>
						</thead>
						<tbody>
							

						</tbody>
					</table>
					
					
				
				
				
       				 	
				
				</div>
				<div class="col"><img src="./landing_image.jpg" style="width:90%; height:90%;"
						class="shadow-lg p-3 mb-5 bg-body rounded">
				</div>
			</div>
			
			
			<div class="row ">
				<div class="col-5 shadow-lg p-3 mb-5 bg-body rounded table-responsive">
					<div class="badge bg-primary text-wrap" style="width: 6rem;">
						LOG
					</div><br>
					<div style="width: 100%; overflow-x: auto; overflow-y: hidden">
  					<div style="width: 500px; height: 300px; ">
    				<canvas id="canvas" height="300" width="0"></canvas>
    			</div>
  			</div>
</div>
</div>

			
			
		</div>



		<script type="text/javascript" th:inline="javascript">			
			
			var nodesReceived = [];
			
			function getNodes() {
				//$('#mainDiv').load("/home");
				//$('#tables')
				console.log("i am here");
				$.ajax({
					type: 'GET',
					url: "/getSensors",
					success: function (data) {
						//now we have the nodes, we need to add them to the gui
						//console.log(data);
						var json_data = JSON.parse(data);
						
						
  						
  						for (var i = 0; i < json_data.jsonarray.length; i++){
						  var obj = json_data.jsonarray[i];
						  var nodeIP = obj["IP"];
						  var nodeResource = obj["Resource"];
						  var nodeType = obj["Type"];
						  var nodeValue = obj["Value"];
						  var assignTo = obj["assignTo"];
						  
						  
						  
						  if(nodeType == "sensor" && nodesReceived.includes(nodeIP)){
							  if(assignTo != undefined){
							  	document.getElementById(nodeIP+"_assign").innerHTML=assignTo;
							  }
							  document.getElementById(nodeIP+"_value").innerHTML=nodeValue;
							  
						  }
						  if(nodeType=="actuator" && nodesReceived.includes(nodeIP) ){
						  		if(nodeValue=="1"){
									document.getElementById(nodeIP).checked=true;
								}
								else{
									document.getElementById(nodeIP).checked=false;
								}
						  }
						  
						  if(!nodesReceived.includes(nodeIP)){
						  	  nodesReceived.push(nodeIP);
							  if(nodeType=="sensor"){
							  		
							  		var newRow=document.getElementById('sensorsTable').insertRow();
									newRow.innerHTML = "<td style=text-align:center;>"+nodeResource+"</td><td>"+nodeIP+"</td><td style=text-align:center; id="+nodeIP+"_assign >"+assignTo+"</td><td style=text-align:center; id="+nodeIP+"_value"+">"+nodeValue
										+"</td><td style=text-align:center;> <input type=date id="+nodeIP+"> <input class=btn-dark type=button value=ShowLog onclick=getLog("+"\'"+nodeIP+"\'"+") name=status></td>";
							   }
							   if(nodeType=="actuator"){
							  		var newRow=document.getElementById('actuatorsTable').insertRow();
							  		console.log("actuator value received "+nodeValue);
									newRow.innerHTML = "<td>"+nodeResource+"</td><td style=text-align:center;>"+nodeIP
									+"</td><td style='text-align:center;'> "
									+"<div style='text-align:center;'  class='form-check form-switch'>"
									+"<input id="+nodeIP+" style='margin-left:-20%;' class='form-check-input' type=checkbox  value=ShowLog onclick=setActuator("+"\'"+nodeIP+"\'"+",\'"+nodeValue+"\'"+") name=status>"
									+"</div></td>";
									var append;
									if(nodeResource=="oxygen"){
										var oxygen_threshold = obj["oxygen_threshold"];
										append = "<td style=text-align:center;><div class='input-group'><span class='input-group-text' style=width:155px;>Oxygen threshold:</span>";
										append +="<input class='form-control' type=number style=width:10px; id="+nodeIP+"_oxygen_threshold value="+oxygen_threshold+">";
										append += "<input type=button class='btn-dark' value=Change onclick=changeThreshold("+"\'oxygen\'"+","+"\'"+nodeIP+"\'"+")>";
										append += "</div></td>";
									}
									if(nodeResource=="water"){
										var ph_threshold = obj["ph_threshold"];
										var minerals_threshold = obj["minerals_threshold"];
										append = "<td><div class='input-group' style='margin:2px auto;'><span class=input-group-text style=width:155px;>PH threshold:</span>";
										append += "<input class='form-control' type=number style='width:25px' id="+nodeIP+"_ph_threshold value="+ph_threshold+">";
										append += "<input type=button class='btn-dark' value=Change onclick=changeThreshold("+"\'ph\'"+","+"\'"+nodeIP+"\'"+")>";
										append += "</div><div class='input-group' style='margin:2px auto;' ><span style=width:155px; class='input-group-text'>Minerals threshold:</span>";
										append += "<input class='form-control' type=number style='width:25px' id="+nodeIP+"_minerals_threshold value="+minerals_threshold+">";
										append += "<input class='btn-dark' type=button value=Change onclick=changeThreshold("+"\'minerals\'"+","+"\'"+nodeIP+"\'"+")>";
										append += "</div></td>";
									}
									
									newRow.innerHTML += append;
									
									if(nodeValue==1){
										document.getElementById(nodeIP).checked=true;
									}
							   }
						   }

						}

					}
					
				});

			}
			
			
			function changeThreshold(resourceType,nodeIP){
				console.log(resourceType);
				console.log(nodeIP+"_"+resourceType+"_threshold");
				var thresholdValue = document.getElementById(nodeIP+"_"+resourceType+"_threshold").value;
				console.log(thresholdValue);
				$.ajax({
					type: 'GET',
					url: "/changeThreshold?nodeIP="+nodeIP+"&&thresholdName="+resourceType+"&&thresholdValue="+thresholdValue
				});
			}
			
			function setActuator(ip, value) {
				var valueToSend = 0;
				if(document.getElementById(ip).checked==true)
					valueToSend = 1;
				$.ajax({
					type: 'GET',
					url: "/setActuator?nodeIP="+ip+"&&currentValue="+valueToSend
				});


			}
		
			
			function getLog(ip){
				var date = document.getElementById(ip);
				if(date.value==""){
					//if the user doesn't choose any date, we set it to the current day
					var today = new Date();
					var dd = String(today.getDate()).padStart(2, '0');
					var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
					var yyyy = today.getFullYear();

					//date.value = yyyy+"-"+mm+"-"dd;
				}
				
				$.ajax({
		            type: 'GET',
		            url: '/getData?nodeIP='+ip+'&&date='+date.value,
		           	datatype: "JSON",
		            success: function (resulting_data) {
       				 	
       				 	console.log(resulting_data);
       				 	var data = JSON.parse(resulting_data);


       				 	var labels = data.jsonarray.map(function(e) {
						   return e.time.replace("_",":");
						});
						var values = data.jsonarray.map(function(e) {
						   return e.value;
						});;
       					
       					var ctx = document.getElementById('canvas').getContext('2d');
						var config = {
						options: {
					         legend: {
					            display: false
					         },
					    },
						   type: 'line',
						   data: {
						      labels: labels,
						      datasets: [{
						         label: '',
						         data: values,
						         backgroundColor: 'rgba(0, 0, 0, 0.5)'
						      }]
						   }
						};
						
						var chart = new Chart(ctx, config);
       					
       					
       					
    				}
		            
		        });
			}

		</script>
	</div>
</body>

</html>